/*--------------------------------------------
COLORS
	* Purple = #814b9d
	* Teal = #4390a6
	* Gray Bkgd = #dfdfdf
FONTS
	* Header Copy = Roboto Slab
	* Body Copy = Armata
---------------------------------------------*/

/*--------------------------------------------
MAIN
---------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	background: #dfdfdf;
}
/*--------------------------------------------
HEADER
---------------------------------------------*/

/*--------------------------------------------
FOOTER
---------------------------------------------*/

/*--------------------------------------------
FORM STYLES
---------------------------------------------*/

/*--------------------------------------------
MISC
---------------------------------------------*/
.clear { clear:both; float:none; }