/*--------------------------------------------
COLORS
	* Purple = #814b9d
	* Teal = #4390a6
	* Gray Bkgd = #dfdfdf
FONTS
	* Header Copy = font-family: 'Roboto Slab', serif;
	* Body Copy = font-family: 'Armata', sans-serif;
---------------------------------------------*/

/*--------------------------------------------
MAIN
---------------------------------------------*/
* {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #dfdfdf;
}

.page-wrap {
	min-height: 100% !important;
	height: auto !important;
	height: 100%;
	padding-top: 192px;
	box-sizing: border-box;
	margin: 0 auto -125px auto;
}

.container {
	margin: 0 auto;
	width: 750px;
}

.interior-container {
	margin: 0 auto;
	padding-bottom: 40px;
	width: 750px;
	height: auto;	
	z-index: 998;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:visited {
	text-decoration: none;
}

img { border: none; }
/*--------------------------------------------
HEADER
---------------------------------------------*/
#header {
	margin: 0;
	padding: 0;
	position: fixed !important;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 192px;
	background: #dfdfdf;
	z-index: 999;
}

#top-shadow {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 5px;
	background: url('../images/top-shadow.png') repeat top left;
}

ul#top-buttons {
	position: relative;
	top: -11px;
	float: right;
}

ul#top-buttons li {
	display: inline;
}

ul#top-buttons li a#donate-btn {
	margin-right: 5px;
	display: inline-block;
	width: 57px;
	height: 116px;
	background: url('../images/donate-btn.png') no-repeat;
}

ul#top-buttons li a#volunteer-btn {
	display: inline-block;
	width: 57px;
	height: 116px;
	background: url('../images/volunteer-btn.png') no-repeat;
}

a#logo {
	position: relative;
	top: 10px;
	margin: 0 auto;
	display: block;
	width: 190px;
	height: 113px;
	background: url('../images/logo.png') no-repeat;
}

#main-nav {
	width: 100%;
	height:40px;
	text-align: center;
	background: #ededed;
	border-bottom: 6px solid #814b9d;
}

#main-nav ul {
	position: relative;
	top: 2px;
}

#main-nav ul li {
	margin-right: 20px;
	display: inline;
}

#main-nav ul li:last-child {
	margin-right: 0;
}

#main-nav ul li a, #main-nav ul li a:visited {
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	font-size: 20px;
	color: #4e4b4b;
	text-transform: uppercase;
}


#navbar-top {
	position: relative;
	top: -6px;
	margin: 0 auto;
	width: 709px;
	height: 6px;
	background: url('../images/navbar-bkgd.png') no-repeat top left;
}

/*--------------------------------------------
HOME
---------------------------------------------*/
#feature-slider {
	position: relative;
}

span#slider-headline {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 437px;
	height: 135px;
	background: url('../images/feature-slider-headline.png') no-repeat;
	z-index: 99;
}

ul#slider-nav {
	position: absolute;
	bottom: 5px;
	left: 15px;
	z-index: 98;
}

ul#slider-nav li {
	margin:0 30px;
	display: inline;
}

ul#slider-nav li:last-child {
	margin-right: 0;
}

#home-container {
	margin: 0;
	float: left;
	width: 564px;
}

#home-headline {
	margin: 0 auto;
	width: 501px;
	height: 115px;
	background: url('../images/welcome-headline.png') no-repeat;
}

.main-content {
	margin: 0 auto;
	width: 95%;
	height: auto;
}

.main-content p {
	padding:25px 0 20px 0;
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #4d4d4d;
}

#home-sidebar {
	margin: 0;
	float: left;
	width: 186px;
	height: 408px;
	background: url('../images/sidebar-bkgd.jpg') no-repeat;
}

.sidebar-video {
	padding: 15px 8px 8px 8px;
}

.sidebar-headline {
	margin: 0 auto;
	width: 154px;
	height: 50px;
	background: url('../images/sidebar-headline.png') no-repeat;
}

.sidebar-content {
	padding-top: 3px;
}

.sidebar-content p {
	margin:8px 0;
	padding:0 8px;
	font-family: 'Armata', sans-serif;
	font-size: 9px;
	color: #ffffff;
}

/*--------------------------------------------
INTERIOR PAGES
---------------------------------------------*/
/*--MAIN CONTENT SECTION--*/
#interior-content {
	float: left;
	width: 565px;	
}

#interior-content h1 {
	padding:20px 0 5px 0;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	font-size: 38px;
	color: #814b9d;
}

#interior-content h2 {
	padding:20px 0 10px 0;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	font-size: 26px;
	text-align: center;
	color: #4390a6;
}

#interior-content p {
	margin:0 auto 15px auto;
	width: 100%;
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -1px;
	color: #000000;
}

#interior-content p a, #interior-content p a:visited {
	color: #000000;
}

#interior-content p a:hover {
	text-decoration: underline;
}

ul.logos {
	margin: 0 auto 10px; 
	width: 400px;
}

ul.logos li {
	display: inline;
	width: 400px;
}

ul.logos li.half {
	margin-left: 60px;
	width: 200px; 
}

#interior-content h3 {
	padding:10px 0 8px 0;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	font-size: 28px;
	color: #814b9d;
}

#interior-content h4 {
	padding:0 0 8px 0;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	font-size: 26px;
	color: #4390a6;
}

/* BEGIN FAQ SECTION */
.faq-item {
	margin-bottom: 20px;
}

.faq-q-line {
	float: left; 
	width: 35px;	
}

.faq-left-line {
	float: left; 
	width: 530px;
}


.faq-teal {
	font-family: 'Armata', sans-serif;
	font-size: 20px;
	letter-spacing: -1px;
	color: #4390a6;	
}

.faq-purple {
	padding:10px 0 20px 20px;
	font-family: 'Armata', sans-serif;
	font-size: 20px;
	letter-spacing: -1px;
	color: #814b9d;	
}

.faq-text {
	position: relative;
	top: 7px;
	float: left;
	width: 530px;
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	letter-spacing: -1px;
	color: #000000;
}

.faq-text a, .faq-text a:visited {
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	letter-spacing: -1px;
	color: #000000;
}

.faq-text a:hover {
	text-decoration: underline;
}
/* END FAQ SECTION */

/* BEGIN QUOTE SECTION */
.quote-item {
	padding-top: 15px;
}

.quote-item p {
	margin:0 auto 8px auto !important;
}

span.quote-signature {
	font-family: 'Armata', sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	color: #000000;	
}
/* END QUOTE SECTION */

/* BEGIN CORPORATE SPONSORS */
table#sponsor-logos {
	width: 100%;
}

table#sponsor-logos tr {
	width: 100%;
}

table#sponsor-logos tr td {
	padding: 20px 0;
	text-align: center;
	width: 50%;
}

table#sponsor-listing {
	padding-top: 20px;
}

table#sponsor-listing tr td a, 
table#sponsor-listing tr td a {
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	letter-spacing: -1px;
	color: #000000;
}

table#sponsor-listing tr td {
	padding-right: 35px;
}
/* END CORPORATE SPONSORS */

/* BEGIN CIVIC SPONSORS */
hr.teal-line {
	height: 2px;
	border: none;
	background: #4390a6;
}

ul.civic-column {
	float: left;	
	margin:25px 0 0 6px;
}

ul.civic-column li {
	margin-bottom: 2px;
	width: 275px;
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -1px;
	color: #000000;
}
/* END CIVIC SPONSORS */

/* BEGIN RESOURCES */
table#resources {
	margin: 20px auto 0 auto;
	width: 700px;
}

table#resources tr td {
	margin-bottom: 20px;
	width: 250px;
	text-align: center;
}

table#resources tr td a img {
	padding-bottom: 10px;
}

table#resources tr td a, table#resources tr td a:visited {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #000000;
}
/* END RESOURCES */

/* BEGIN WHY VOLUNTEER LIST */
ul#volunteer-list {
	padding:20px 0 0 20px;
	list-style-type: disc;
}

ul#volunteer-list li {
	padding-bottom: 5px;
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -1px;
	color: #000000;
}
/* END WHY VOLUNTEER LIST */

/* BEGIN MEALS SECTION */
#mow-box {
	position: relative;
	float: left;
	margin:10px 40px 40px 30px;
	width: 234px;
	height: 313px;
	background: url('../images/mow-box.png') no-repeat left top;
}

#locations-box {
	position: relative;
	float: left;
	margin:10px 0 40px 0;
	width: 234px;
	height: 313px;
	background: url('../images/locations-box.png') no-repeat left top;
}

#mow-box h2, #locations-box h2 {
	color: #ffffff !important;
} 

#mow-box p, #locations-box p {
	margin: 0 auto;
	max-width: 200px;
	width: 200px;
	font-size: 13px !important;
	color: #ffffff !important;
}

#mow-box h3, #locations-box h3  {
	position: absolute;
	bottom: 5px;
	left: 50px;
	font-size: 22px !important;
	text-align: center !important;
	color: #ffffff !important;
}  

#locations-box h3 a, #locations-box h3 a:visited {
	text-align: center !important;
	color: #ffffff !important;
}

table.location-listing {
	margin: 0 auto;
	width: 690px;
}

table.location-listing tr td {
	padding-bottom: 5px;
	width: 230px;
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -1px;
	color: #000000;
}

table.location-listing tr td.col-label {
	font-family: 'Armata', sans-serif;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -1px;
	color: #4390a6;
}

table#menu tr td {
	width: 130px;
	font-family: 'Armata', sans-serif;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: -1px;
	text-align: center;
	color: #000000;
}

table#menu tr td.day-label {
	font-family: 'Armata', sans-serif;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -1px;
	color: #4390a6;
}

table#menu tr td.option-label {
	font-family: 'Armata', sans-serif;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -1px;
	color: #814b9d;
}
/* END MEALS SECTION */

/* BEGIN SIDEBARS */
#interior-sidebar {
	margin-right: 28px;
	float: left;
	width: 157px;
	min-height: 496px;
	background: url('../images/sidebar-shadow3.png') no-repeat top right;
}

#interior-sidebar ul {
	position: relative;
	top: 65px;
}

#interior-sidebar ul li {
	width: 164px;
	height: 73px;
	text-align: center;
	background: url('../images/sidebar-nav-btn.png') no-repeat;
}

#interior-sidebar ul li a {
	padding-top: 18px;
	display: block;
	width: 164px;
	height: 59px;
	font-family: 'Armata', sans-serif;
	font-size: 15px;
	color: #ffffff;
}
/* END SIDEBARS */

/*--------------------------------------------
FOOTER
---------------------------------------------*/
#footer {
	margin: 0;
	width: 100%;
	height: 125px;
	background: url('../images/footer-bkgd.jpg') repeat-x;
}

#footer-left {
	float: left;
}

#footer-left ul {
	position: relative;
	top: 5px;
}

#footer-left ul li {
	margin-top: 12px;
	font-family: 'Armata', sans-serif;
	font-size: 11px;
	color: #ffffff;
}

#footer-left ul li img {
	margin-right: 10px;
}

#footer-left ul li a, #footer-left ul li a:visited {
	font-family: 'Armata', sans-serif;
	font-size: 11px;
	color: #ffffff;
}

#footer-right {
	position: relative;
	top: 15px;
	float: right;
}

#footer-right h4 {
	margin: 0;
	height: 70px;
	text-align: right;	
	font-family: 'Armata', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #ffffff;
}

#footer-right h4 img {
	margin-left: 15px;
}

#footer-right p {
	margin: 0;
	padding: 0;
	text-align: right;
	font-family: 'Armata', sans-serif;
	font-size: 11px;
	color: #ffffff;
}

#footer-right p img {
	margin-left: 8px;
}

#footer-right p a, #footer-right p a:visited {
	color: #ffffff;
}

/*--------------------------------------------
FORM STYLES
---------------------------------------------*/
/* CONTACT FORM */
h1.form-header {
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	font-size: 38px;
	color: #814b9d;
}

#contact-thanks {
	float: left;
	padding-right: 25px;
	margin-right: 25px;
	max-width: 424px;
	min-height: 200px;
	background: url('../images/contact-form-border.jpg') no-repeat right top;
}

#contact-thanks p {
	position: relative;
	top: 5px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #4390a6;
}

form#contact {
	float: left;
	padding-right: 25px;
	margin-right: 25px;
	min-height: 450px;
	background: url('../images/contact-form-border.jpg') no-repeat right top;
}

form#contact label {
	float: left;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #4390a6;
	width: 90px;
}

form#contact input[type="text"] {
	padding-left: 8px;
	width: 350px;
	height: 30px;
	margin-bottom: 15px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	color: #333333;
	-moz-box-shadow: inset 0 0 6px #000000;
	-webkit-box-shadow: inset 0 0 6px #000000;
	box-shadow: inset 0 0 6px #000000;
	border: none;
	outline: none;
}

form#contact textarea {
	padding:8px 0 0 8px;
	width: 350px;
	max-width: 350px;
	height: 200px;
	max-height: 250px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	color: #333333;
	-moz-box-shadow: inset 0 0 6px #000000;
	-webkit-box-shadow: inset 0 0 6px #000000;
	box-shadow: inset 0 0 6px #000000;
	border: none;
	outline: none;
	overflow: auto;
}

form#contact input#contact-form-btn {
	margin:10px 0 0 90px;
	width: 139px;
	height: 46px;
	background: url('../images/contact-form-btn.png') no-repeat;
	border: none;
	outline: none;
	cursor: pointer;
}

ul#contact-nav {
	float: left;
}

ul#contact-nav li {
	min-width: 250px;
	display: block;
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	color: #000000;
}

ul#contact-nav li img {
	margin-right: 15px;
}

ul#contact-nav li a, ul#contact-nav li a:visited {
	font-family: 'Armata', sans-serif;
	font-size: 12px;
	color: #000000;
}

.name, .email, .subject, .message {
	position: relative;
}

#contact label.error {
    position: absolute;
    top: -15px;
    left: 92px;
    width: 250px;
    font-size:11px;
	font-style: italic;
    color: red;
}

/* END CONTACT FORM */

/* BEGIN VOLUNTEER FORM */
form#volunteer h3 {
	font-size: 18px;
}

form#volunteer h5 {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #000000;
}

form#volunteer label {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #4390a6;
}

form#volunteer input[type="text"], form#volunteer input[type="date"], form#volunteer select {
	padding-left: 8px;
	width: 350px;
	height: 30px;
	margin-bottom: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	color: #333333;
	-moz-box-shadow: inset 0 0 6px #000000;
	-webkit-box-shadow: inset 0 0 6px #000000;
	box-shadow: inset 0 0 6px #000000;
	border: none;
	outline: none;
}

form#volunteer textarea {
	padding:8px 0 0 8px;
	margin-bottom: 10px;
	width: 350px;
	max-width: 350px;
	height: 60px;
	max-height: 100px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	color: #333333;
	-moz-box-shadow: inset 0 0 6px #000000;
	-webkit-box-shadow: inset 0 0 6px #000000;
	box-shadow: inset 0 0 6px #000000;
	border: none;
	outline: none;
	overflow: auto;
}

input#vol-form-btn {
	width: 139px;
	height: 46px;
	background: url('../images/contact-form-btn.png') no-repeat;
	border: none;
	outline: none;
	cursor: pointer;
}

#volunteer .field {
	position: relative;
}

#volunteer label.error {
    position: absolute;
    top: 27px;
    left: 365px;
    width: 250px;
    font-size:11px;
	font-style: italic;
    color: red;
}

/* END VOLUNTEER FORM */

/*--------------------------------------------
MISC
---------------------------------------------*/
.clear { clear:both; float:none; }
.push { height: 125px; }
.callout {
	padding-bottom: 15px;
	font-family: 'Armata', sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	text-align: center;
	color: #4390a6;
}